body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(135deg, #5b9bf0, #b2ccee);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#game-container {
    background-color: rgba(255,255,255,0.9);
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
    width: 500px;
}

h1 {
    color: #14ad73;
    margin-bottom: 10px;
}

p {
    color: #333;
}

#quote-box {
    background-color: #adc6db;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    min-height: 80px;
    text-align: left;
}

.highlight {
    background-color: yellow;
}

.correct {
    background-color: #c8f7c5; 
    transition: background 0.2s;
}

.error {
    background-color: #f7c5c5; 
    border: 1px solid red;
    transition: background 0.2s;
}

#quote span.highlight {
    background-color: yellow;
    font-weight: bold;
    border-radius: 3px;
}

.controls {
    margin-top: 15px;
}

input {
    padding: 10px;
    font-size: 1rem;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #aaa;
    transition: all 0.3s;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #0f9c5a;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:disabled {
    background-color: #12b669;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #065c31;
}

#message {
    font-weight: bold;
    margin-top: 15px;
    color: #333;
    font-size: 1.1rem;
}

.modal {
    display: none;
    position: fixed;
    top:0; left:0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    animation: pop 0.4s ease;
}

#restartBtn {
    margin-top: 15px;
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #2a6db0;
    color: white;
    cursor: pointer;
}

.shake {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

.correct {
    background-color: #c8f7c5;
    transition: background 0.2s;
}

.error {
    background-color: #f7c5c5;
    border: 1px solid red;
}


@keyframes pop {
    from { transform: scale(0.5); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}